@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nova+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.dice-container {
    display: flex;
    justify-content: center;
}

.dice {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
}
.dice-min{
    width: 40px;
    height: 40px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.25);
}

.dice-dot {
    --top: 20%;
    --left: 80%;

    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;

    /*Dot Positioning*/
    position: absolute;
    top: var(--top);
    left: var(--left);
    transform: translateX(calc(var(--left)*-1)) translateY(calc(var(--top)*-1));
}
.dice-dot-min{
    width: 7px;
    height: 7px;
}

.question-mark {
    --top: 20%;
    --left: 80%;
    position: absolute;
    top: var(--top);
    left: var(--left);
    transform: translateX(calc(var(--left)*-1)) translateY(calc(var(--top)*-1));
    font-size: 3rem;
    font-weight: bold;
    font-family: "Roboto", serif;
}

.btn-roll-dice {
    height: 4rem;
    width: 30%;
    margin: auto;
    margin-top: 10px;
    font-family: "Roboto", serif;
    font-size: 1.2rem;
    border-radius: 1rem;
    background-color: blue;
}

.liDice {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.olDice {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

h1,
h2 {
    text-align: center;
    font-family: "Roboto", serif;
}

.content-dice {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dice-statistics {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.turn-roll-dices-info{
    max-height: 300px;
    overflow: auto;
}